.ascii-text-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.ascii-text-container canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.ascii-text-container pre {
  margin: 0;
  user-select: none;
  padding: 0;
  line-height: 1em;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  background-image: radial-gradient(circle, #ff6188 0%, #fc9867 50%, #ffd866 100%);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 9;
  mix-blend-mode: difference;
}
